.wrapperItemCategory{
  height: 300px;
  width: 100%;
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;

  img{
    height: 170px;
    width: 170px;
  }
}

.wrapperItemCategory:hover{
  cursor: pointer;
}

.buttons{
  display: flex;
  gap:10px
}