@import "../../consts/colors";
.wrapperInputInHeader {
  width: 660px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  border: 1px solid $mainTextColor;
  overflow: hidden;
  position: relative;

  #imgInInput {
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;

    &:hover{
      cursor: pointer;
    }
  }


  #inputInHeader {
    height: 40px;
    width: 600px;
    padding: 10px;
    margin-right: 10px;
    border: none;
    outline: none;
  }


}

@media (max-width: 1200px) {
  .wrapperInputInHeader {
    width: 300px;
  }
}

@media (max-width: 650px) {
  .wrapperInputInHeader {
    width: 125px;
  }
}