$heightWrapper: 300px;
.root{
  min-height: $heightWrapper;
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap:5px;
  & input{
    width: 250px;
    height: 30px;
  }
}

.arrayItems{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap:10px
}