.wrapper_item_product_in_category {
  height: 350px;
  width: 250px;
  //background-color: #212529;
  padding: 10px;
  text-align: center;
  border: 1px solid black;

  //p{
  //  width: fit-content;
  //}

  #img_product_item_category {
    width: 95%;
    height: 70%;
  }
  #img_product_item_category:hover{
    cursor: pointer;
  }

  #article_product_item_category {
    font-size: 13px;
    text-align: left;
  }

  #name_product_item_category{

  }

  #name_product_item_category:hover{
    color: red;
    cursor: pointer;
  }
}