// Gray/Black
$new-black: rgba(46, 48, 56, 1);
// Green/Green
$new-green: rgba(24, 170, 74, 1);
// Orange/Orange
$new-orange: rgba(250, 96, 47, 1);
// Gray/White
$new-white: rgba(255, 255, 255, 1);

// Red/Brand-red
$new-brand-red: rgba(242, 18, 59, 1);
// Red/Dark-red
$new-dark-red: rgba(217, 21, 57, 1);
// Red/Dark-red-1
$new-dark-red-1: rgba(195, 19, 53, 1);
// Red/Dark-red-2
$new-dark-red-2: rgba(170, 6, 36, 1);
// Red/Dark-red-3
$new-dark-red-3: rgba(106, 34, 48, 1);
// Red/Light-red-1
$new-light-red-1: rgba(255, 234, 238, 1);
// Red/Light-red-2
$new-light-red-2: rgba(255, 184, 198, 1);
// Red/Light-red-3
$new-light-red-3: rgba(255, 118, 144, 1);

// Blue/Dark-blue-1
$new-dark-blue-1: rgba(0, 119, 229, 1);
// Blue/Dark-blue-2
$new-dark-blue-2: rgba(4, 101, 192, 1);
// Blue/Dark-blue-3
$new-dark-blue-3: rgba(0, 79, 153, 1);
// Blue/Dark-blue-4
$new-dark-blue-4: rgba(0, 68, 131, 1);
// Blue/Light-blue-1
$new-light-blue-1: rgba(235, 245, 255, 1);
// Blue/Light-blue-2
$new-light-blue-2: rgba(204, 230, 255, 1);
// Blue/Light-blue-3
$new-light-blue-3: rgba(128, 193, 255, 1);
// Blue/Light-blue-4
$new-light-blue-4: rgba(80, 170, 254, 1);
// Blue/Medium-blue
$new-medium-blue: rgba(46, 154, 255, 1);

// Gray/Dark-grey-1
$new-dark-grey-1: rgba(130, 132, 140, 1);
// Gray/Dark-grey-2
$new-dark-grey-2: rgba(83, 85, 94, 1);
// Gray/Dark-grey-3
$new-dark-grey-3: rgba(66, 68, 76, 1);
// Gray/Light-grey-1
$new-light-grey-1: rgba(249, 250, 252, 1);
// Gray/Light-grey-2
$new-light-grey-2: rgba(247, 247, 250, 1);
// Gray/Light-grey-3
$new-light-grey-3: rgba(237, 237, 245, 1);
// Gray/Light-grey-4
$new-light-grey-4: rgba(224, 224, 235, 1);
// Gray/Medium-grey
$new-medium-grey: rgba(202, 205, 215, 1);

// Orange/Dark orange 1
$new-dark-orange-1: rgba(234, 79, 32, 1);
// Orange/Dark-orange-2
$new-dark-orange-2: rgba(212, 56, 13, 1);
// Orange/Dark-orange-3
$new-dark-orange-3: rgba(173, 33, 2, 1);
// Orange/Dark-orange-4
$new-dark-orange-4: rgba(135, 20, 0, 1);
// Orange/Light-orange-1
$new-light-orange-1: rgba(255, 242, 232, 1);
// Orange/Light-orange-2
$new-light-orange-2: rgba(255, 216, 191, 1);
// Orange/Light-orange-3
$new-light-orange-3: rgba(255, 187, 150, 1);
// Orange/Light-orange-4
$new-light-orange-4: rgba(255, 148, 99, 1);

// Green/Light-green
$new-light-green: rgba(232, 247, 237, 1);
