@import "../../../consts/colors";

.miniHeader {
  height: 30px;
  display: flex;
  gap: 10px;
  font-weight: bold;

  //.active_item {
  //  color: $mainTextColorActive;
  //}

  a.active {
    color: $mainTextColorActive;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    color: $mainTextColorActive;
    cursor: pointer;
  }
}