@import "../../../consts/colors";

.miniHeader {
	height: 30px;
	display: flex;
	justify-content: flex-end;
	font-weight: bold;
	white-space: nowrap;
	
	.innerLinks {
		overflow: hidden;
		display: flex;
		gap: 15px;
	}
	
	a.active {
		color: $mainTextColorActive;
	}
	
	a {
		text-decoration: none;
	}
	
	a:hover {
		color: $mainTextColorActive;
		cursor: pointer;
	}
}